/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Space Grotesk', sans-serif;
    scroll-behavior: smooth;
    outline: none; 
    user-select: none; 
}

a {
    color: rgb(150, 215, 52);
}

/* Body and Root Styles */
body {
    z-index: -2;
    background: linear-gradient(35deg, #1a1a1a, #2c2c2c, rgb(180, 152, 152)); 
    color: #f0f0f0; 
    line-height: 1.6; 
    overflow-x: hidden;
    
}

body, html, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
}

/* Wrapper Styles */
.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;
}

.page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 6rem);
    align-items: center;
    /* border: 2px dashed red; */
    margin: 0;
    overflow: hidden;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(26, 26, 26, 0.4);
}

::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
}
