.intro-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    /* background: rgba(26, 26, 26, 0.2); */
    overflow: visible;
    position: relative;
    border-radius: .94rem;
    box-sizing: border-box;
    width: 80%; 
    /* border: 2px solid rgb(100, 9, 9); */
    height: 100%;
}


.introContent {         
    display: flex;
    flex-direction: column;
    /* border:3px salmon solid ; */
    justify-content: center;
    align-items: center;
    height: 70%; 
    width: 80%;
    box-sizing: border-box;
    padding: 0;
}

.content-top {
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: .79rem;
    width: 86%;
    /* border: #ed0b0b 2px solid; */
}

.content-top h1 {
    width: 50%;
}



.intro-p {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: #4a4949 2px solid; */
    height: 40%;
}

.intro-p p {
    text-align: center;
    width: 80%;
    font-size: 1rem;
}

.img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
    /* border: #61a003 2px solid; */
    margin-left: 2rem;
}

.headShot {
    width: 18%;
    height: 80%;
    z-index: -1;
    object-fit: cover;
    border-radius: 50%;
    animation: morph 14s ease-in-out infinite, borderColorChange 5s infinite linear;
    border: .5rem solid transparent;
    background: linear-gradient(45deg, #2a2529, #61a003, #bdbdbd, #4a4949, #96d734);
    background-size: 300% 300%;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    border-image-slice: 1;
}

.icon-container {
    display: flex;
    align-items: center;
    background: rgba(26, 26, 26, 0.2);
    border-radius: .4rem;
    /* border: 2px solid orangered; */
    width: 80%;
    height: 30%;
    justify-content: space-evenly;
}

.icon {
    height: 30%;
}

@media (max-width: 600px) {
    .intro-wrapper {
        height: 100%;
        width: 100%;
    }
    
    .introContent {
        flex-direction: column;
        /* border: 2px solid yellow; */
    }

    .content-top {
        align-items: center;
        /* border: #ed0b0b 4px solid; */
        height: 50%;
        width: 100%;
    }

    .intro-p {
        height: 50%;
        /* border: #61a003 solid 3px; */
    }

    .intro-p p {
        font-size: 0.8rem;
    }

    .content-top h1 {
        font-size: .7rem;
        width: 50%;
        /* border: 2px solid yellow; */
    }
    .headShot {
        height: 50%;
        width: 40%;
    }

    .icon-container {
        /* border: 2px solid rgb(76, 170, 48); */
        margin: 1rem;
        height: 25%;
    }
    
    .icon {
        height: 20%;
    }

}


/* ANIMATIONS KEYFRAMES */
@keyframes morph {
    0%, 100% {
        border-radius: 50% 50% 45% 45%;
    }
    25% {
        border-radius: 60% 50% 55% 50%;
    }
    50% {
        border-radius: 55% 60% 50% 55%;
    }
    75% {
        border-radius: 50% 55% 60% 50%;
    }
}

@keyframes borderColorChange {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes textColorChange {
    0% {
        color: #2a2529;
    }
    25% {
        color: #61a003;
    }
    50% {
        color: #bdbdbd;
    }
    75% {
        color: #4a4949;
    }
    100% {
        color: #96d734;
    }
}

.introContent span {
    animation: textColorChange 5s infinite linear; 
    color: #96d734; 
}

.introContent h3, .introContent h1, .introContent p {
    margin: 3rem; 
    letter-spacing: 0.3rem; 
}

.buttonImg {
    width: 1rem;
    height: 1rem;    
}
