


/* ANIMATIONS KEYFRAMES */
@keyframes morph {
    0%, 100% {
        border-radius: 50% 50% 45% 45%;
    }
    25% {
        border-radius: 60% 50% 55% 50%;
    }
    50% {
        border-radius: 55% 60% 50% 55%;
    }
    75% {
        border-radius: 50% 55% 60% 50%;
    }
}

@keyframes borderColorChange {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes textColorChange {
    0% {
        color: #2a2529;
    }
    25% {
        color: #61a003;
    }
    50% {
        color: #bdbdbd;
    }
    75% {
        color: #4a4949;
    }
    100% {
        color: #96d734;
    }
}

