
.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 75rem;

    text-align: center;
    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;
    overflow: hidden; /* Prevent scrollbars */
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0;
    width: 100%;
    max-width: 45rem;
    padding: 2rem;
    background: rgb(30, 30, 30);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.prjImg {
    width: 100%;
    max-width: 20rem;
    height: auto;
    padding: 1rem;
}

.elements h1, .elements p {
    margin: 1rem;
}

.projectbtn, .showMoreButton {
    background: white;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    margin: 1rem;
    color: black;
    height: 4rem;
    border: none;
}

.projectbtn:hover {
    background: rgb(150, 215, 52);
}

.gitIcon {
    width: 3rem;
    height: 3rem;
}

.button-wrapper {
    margin: 1rem;
}
