#myPortfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 75rem;
    background: rgb(26, 26, 26);
    text-align: center;
    margin: 2rem auto;
    padding: 3rem;
}

.elements h1, .elements p {
    margin-bottom: 2rem;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem auto;
    width: 50rem;
    height: auto;
    padding: 2rem;
    background: rgb(30, 30, 30);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.project h2 {
    font-size: 2rem;
}

.lottie {
    width: 25rem;
    height: 20rem;padding: 1rem;
   
}

.projectbtn {
    background: white;
    padding: 1rem;
    border-radius: 2rem;
    margin: 2rem;
    color: black;
}

.projectbtn:hover {
    background: rgb(150, 215, 52);
}

.gitIcon {
    width: 5rem;
    height: 5rem;
}




