.resume-h1 {
 margin: 1rem;
}

.resume-wrapper {
    height: 95%;
    width: 60%;
    margin-bottom: 2rem;
    background: rgba(26, 26, 26, 0.4);
    padding:1rem;
    overflow-y: scroll;
    
    box-shadow: rgba(150, 215, 5, 0.25) 0px 10px 52px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 1px -3px ;
}




.skills-grid {
    display: flex;
  flex-wrap: wrap;
    gap: 1rem;
    margin: 20px 0;
  }
  
  .skill-category {
    display: flex;
    flex-wrap: wrap;
    background: rgb(30, 30, 30);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: fit-content;
    width: 8rem;
  }
  
  .skill-category h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: rgb(150, 215, 52);
  }
  
  .skill-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .skill-item {
    background: rgb(26, 26, 26);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
  }

  li {
    margin-left: 2rem;
  }

  h3, span {
    color: rgb(150, 215, 52);
  }
  h4 {
    text-decoration: underline;
  }