#about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 75rem;
    width: 100vw;
    
}

.aboutInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 2rem;
    width: 100vw;
    max-width: 75rem;
    background: rgb(26, 26, 26);
}

.aboutInfo h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.aboutInfo p {
    margin-bottom: 3rem;
}

.listInfo {
    width: 100vw;
    max-width: 80%;
    text-align: left;
    margin: 1.5rem;
}

.listItem {
    display: flex; 
    background: rgb(30, 30, 30);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 1rem;
    margin: 2rem auto;    
}

.listItem img {
    width: 6rem;
    height: 6rem;
}

.itemText h3 {
    font-size: x-large;
}

.itemText h3, .itemText p {    
    margin: 1rem auto 1rem 0.5rem;
} 
