#contactForm {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60rem;
    width: 100vw;
    background: rgb(26, 26, 26);
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    text-align: center;
}

.formElements {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    max-width: 60rem;    
}
.formElements h2 {
    margin: 2rem;
    font-size: 3rem;
    
}

.email, .name, .msg {
    border-radius: 0.25rem;
    background: rgb(40,40,40);
    margin: 0.5rem;
    color: white;
    width: 100%;
    max-width: 30rem;
    padding: 0.4rem;
    border: none;


}

.formElements p {
    margin: 2rem 1rem auto;
}

.formBtn {
    background: white;
    color: black;
    padding: 0.75rem 3.5rem;
    margin: 1.5rem ;
    border-radius: 0.5rem;
    border: none;
}

.formBtn:hover {
    background: rgb(150, 215, 52);
}

.formBtn

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkImg, .gitImg {
    width: 3rem;
    height: 3rem;
    margin: 1.5rem;
}

.gitImg {
   background: white;
    border-radius: 50%;
}